.postman-content {
  display: flex;
}

h1 {
  text-align: center;
}
.history {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: blue;
}
.request-response-container {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  height: 100%;

  .request, .response {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .request {
    background-color: aquamarine;

    .form {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 5%;

      div {
        display: flex;
        flex-direction: column;
      }

      button {
        display: flex;
        align-self: flex-end;
        margin: 0 25px;
      }
    }
  }

  .response {
    background-color: darkmagenta;
  }
}

