$postman-white: #eeeeee;

.postman-content {
  display: flex;
}

h1 {
  text-align: center;
}

.history {
  display: flex;
  flex-direction: column;
  height: 80vh;
  background-color: $postman-white;
  padding: 5vh;
  overflow: auto;
  width: 35%;
  border: 2px solid grey;

  .clearHistoryButton {
    float: right;
  }

  ul {
    padding: 0 5%;

    li {
      margin-bottom: 10px;
    }
  }
}

.request-response-container {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  height: 100%;
  background-color: $postman-white;

  .request, .response {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5vh;
    border: 2px solid grey;
  }

  .request {
    background-color: $postman-white;
    height: 20vh;

    .form {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 5%;

      div {
        display: flex;
        flex-direction: column;
        margin: 0 25px;
      }

      button {
        display: flex;
        align-self: flex-end;
        margin: 0 25px;
      }
    }
  }

  .response {
    height: 50vh;
    overflow: auto;
  }
}

