<div class="postman-content">

  <div class="history">
    <h1>History</h1>
    <div>
      <button class="clearHistoryButton" (click)="clearHistory()">Clear History</button>
    </div>
    <ul>
      <li *ngFor="let element of history">{{element.requestType + ': ' + element.requestText}}
        <mat-divider></mat-divider>
      </li>
    </ul>
  </div>

  <div class="request-response-container">

    <div class="request">
      <h1>Request</h1>
      <form class="form" [formGroup]="requestForm" (ngSubmit)="formSent()">
        <div>
          <label for="request-type">Method</label>
          <select formControlName="requestType" name="requestType" id="request-type">
            <option value="get">GET</option>
            <option value="put">PUT</option>
            <option value="post">POST</option>
          </select>
        </div>
        <div>
          <label for="request-text">Url</label>
          <input formControlName="requestText" type="text" id="request-text">
        </div>
        <button>Send</button>
      </form>
      <Form></Form>
    </div>

    <div class="response">
      <h1>Response</h1>

      <mat-tab-group >
        <mat-tab label="Preview">
          <pre>{{response | json}}</pre>
        </mat-tab>
        <mat-tab label="Headers">
          <pre>{{headers | json}}</pre>
        </mat-tab>
      </mat-tab-group>

    </div>
  </div>
</div>
