.postman-content {
  display: flex;
}

h1 {
  text-align: center;
}
.history {
  display: flex;
  flex-direction: column;
  height: 90vh;
  background-color: blue;
  padding: 0 5%;
  overflow: auto;
  width: 35%;

  .clearHistoryButton {
    float: right;
  }

  ul {
    padding: 0 5%;
  }
}
.request-response-container {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  height: 100%;

  .request, .response {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5vh;
  }

  .request {
    background-color: aquamarine;
    height: 20vh;

    .form {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 5%;

      div {
        display: flex;
        flex-direction: column;
        margin: 0 25px;
      }

      button {
        display: flex;
        align-self: flex-end;
        margin: 0 25px;
      }
    }
  }

  .response {
    background-color: darkmagenta;
    height: 50vh;
    overflow: auto;
  }
}

